= simple_form_for @publication do |f|
  %h2 Attach a file
  .form-group
    = f.file_field :publication_files, multiple: true
  .form-group
    = f.submit "Upload", html_wrapper: { class: 'btn btn-primary' }
