:javascript
  $(function() {
    $('.btn.publish').on('click', function(e) {
      window.location.href = "#{publication_publish_path(@wos_record.uid)}"
    })
  })

.row.justify-content-center
  .btn.btn-success.col-3.col-md-5.publish
    %i.material-icons backup
    Publish
