.publications
  .row
    .col.col-12.col-lg-6
      = render 'record', r: @wos_record
    .col.col-12.col-lg-6
      = render 'attached_files'
      - if current_user.admin?
        = render 'events'
:javascript
  setTimeout(function() {
    window.location.reload();
  }, 5000);
