%h2="Your work has been published by #{@user.email}"
%hr
- @publication.web_of_science_source_record.record.titles.each do |t|
  %h3= t

Repository:
%a{href: @publication.pub_url}= @publication.pub_url
Easy Deposit:
= link_to @publication.web_of_science_source_record[:uid], publication_url(@publication)
