Thank you for depositing your article:
= @publication.web_of_science_source_record.record.title.first

The permanent URL for your article is:
= @publication.pub_url

If you have any questions, please contact us at scholarsarchive@oregonstate.edu

Sincerely,
OSU Libraries Digital Repository Team
