@import "bootstrap";
@import "variables";
@import "navbar";
@import "flash_messages";
@import "new_user_session";
@import "publications";
@import "collapsible";
@import "events_table";

body > .container-fluid {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer > .container-fluid {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid 1px #aaa;
  font-size: 0.7rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
}