.alert {
  width: 60%;
}
.alert-alert {
  color: $error-red-dark;
  background-color: $error-red-light;
}
.alert-notice {
  color: $success-green-dark;
  background-color: $success-green-light;
}
.alert-warn {
  color: $warn-yellow-dark;
  background-color: $warn-yellow-light;
}
