.publications {
  h1 {
    margin-bottom: 0;
    line-height: 1;
    a {
      text-decoration: underline;
    }
  }

  ul.wos-records {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      padding: 10px 0px;
      margin-bottom: 25px;
    }
  }

  .text-align-right {
    text-align: right;
  }

  .published {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .attach-files {
    margin-bottom: 20px;
    .custom-file-label:after {
      content: "Upload";
    }
  }

  .fingerprint {
    span {
      font-size: 0.8rem;
      color: #aaa;
    }
  }
  table {
    font-size: 0.75rem;
    thead {
      tr {
        th {
          padding: 0.25rem;
        }
      }
    }
    tbody {
      tr {
        td,
        th {
          padding: 0.25rem;
          &.align-items-center {
            align-items: center;
            vertical-align: inherit;
          }
        }
        td ul {
          margin: 0;
          padding-left: 5px;
          list-style-type: none;
        }
      }
    }
  }
  .no-files-attached {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
  }
  .events {
    font-size: 0.7rem;
    .event-row {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      &.restartable {
        border-radius: 8px;
        background-color: rgba(220, 53, 69, 0.67) !important;
        .restart {
          border: solid 1px #fff;
          border-radius: 50%;
          padding: 5px;
          cursor: pointer;
          transition: transform 0.8s ease-in-out;
          a {
            color: #fff;
            &:hover {
              text-decoration: none;
              color: #dc3545 !important;
            }
          }
        }
        .restart:hover {
          color: #dc3545 !important;
          background-color: #fff !important;
          border: solid 1px #dc3545 !important;
          transform: rotate(-360deg);
        }
      }
      .event-name {
        font-size: 1rem;
      }
      .badge {
        font-size: 0.8rem;
        vertical-align: top;
        margin-top: 4px;
      }
      .material-icons {
        vertical-align: super;
      }
      .material-icons:last-child {
        margin: 0 15px 0;
      }
    }
  }
}

.btn.publish,
.btn.harvest {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 30px;
  i {
    font-size: 2rem;
    vertical-align: text-top;
    margin-right: 5px;
  }
  a {
    color: #ffffff;
    &:hover {
      text-decoration: none;
    }
  }
}
