.publications {
  h1 {
    margin-bottom: 0;
    line-height: 1;
    a {
      text-decoration: underline;
    }
  }

  ul.wos-records {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      padding: 10px 0px;
      margin-bottom: 25px;
    }
  }

  .text-align-right {
    text-align: right;
  }

  .fingerprint {
    span {
      font-size: 0.8rem;
      color: #aaa;
    }
  }
  table {
    font-size: 0.75rem;
    thead {
      tr {
        th {
          padding: 0.25rem;
        }
      }
    }
    tbody {
      tr {
        td,
        th {
          padding: 0.25rem;
          &.align-items-center {
            align-items: center;
            vertical-align: inherit;
          }
        }
        td ul {
          margin: 0;
          padding-left: 5px;
          list-style-type: none;
        }
      }
    }
  }
  .no-files-attached {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
  }
  .jobs {
    font-size: 0.7rem;
    .job-row {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .job-name {
        font-size: 1rem;
      }
      .badge {
        font-size: 0.8rem;
      }
      .badge:last-child {
        margin-right: 15px;
      }
    }
  }
}
