$font-size: 1rem;
$black: #000000;
$orange: #dc4405;
$white: #fff;
$nav-blue: #2e5090;
$new-and-submit-btn: #4a773c;
$add-and-save-btn: #2e5090;
$reindeer-moss: #c4d6a4;
$error-red-dark: #dc3545;
$error-red-light: #f8d7da;
$bs-gray-dark: #343a40;
$bs-gray-light: rgba(0, 0, 0, 0.125);
$bs-orange: #f0ad4e;
$success-green-dark: #2fab29;
$success-green-light: #ddf8d7;
$warn-yellow-dark: #906c00;
$warn-yellow-light: #ffe84d;
