%h2="Dear Author: Oregon State University Libraries invites you to deposit manuscript of recent publication for open access"
%hr
- @publication.web_of_science_source_record.record.titles.each do |t|
  %h3= t

Attach manuscript with this link:
= link_to @publication.web_of_science_source_record[:uid], publication_url(@publication)