%p
  Easy Deposit 2 is a service of
  %a{ href: 'https://library.oregonstate.edu/' } Oregon State University Libraries & Press
%p
  Copyright &copy; #{Time.now.year} Oregon State University
%p
  %a{ href: 'mailto:scholarsarchive@oregonstate.edu' } Contact Us
