%p
  Easy Deposit 2 is a service of %a{ https://ir.library.oregonstate.edu/} Oregon State University Libraries \& Press
%p
  121 The Valley Library
  %br
    Corvallis, OR 97331-4501
%p
  Copyright \&copy; #{Time.now.year} Oregon State University
%p
  %a{ mailto: 'scholarsarchive@oregonstate.edu' } Contact Us
